<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ArticleContentServlet</servlet-name>
		<servlet-class>com.vn.newsspeak.ArticleContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleContentServlet</servlet-name>
		<url-pattern>/article/content</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ArticleEntityServlet</servlet-name>
		<servlet-class>com.vn.newsspeak.ArticleEntityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleEntityServlet</servlet-name>
		<url-pattern>/article/entity</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>FeedServlet</servlet-name>
		<servlet-class>com.vn.newsspeak.FeedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedServlet</servlet-name>
		<url-pattern>/feed</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
