<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>FeedHandler</servlet-name>
		<servlet-class>com.vn.newsspeak.FeedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedHandler</servlet-name>
		<url-pattern>/feed</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedHandler2</servlet-name>
		<servlet-class>com.vn.newsspeak.FeedServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedHandler2</servlet-name>
		<url-pattern>/feed2</url-pattern>
	</servlet-mapping>
		
	<servlet>
       <servlet-name>ArticleHandler</servlet-name>
       <servlet-class>com.vn.newsspeak.ArticleServlet</servlet-class>
    </servlet>
	<servlet-mapping>
	   <servlet-name>ArticleHandler</servlet-name>
	   <url-pattern>/article</url-pattern>
	</servlet-mapping>

	<servlet>
       <servlet-name>ArticleHandler2</servlet-name>
       <servlet-class>com.vn.newsspeak.ArticleServlet2</servlet-class>
    </servlet>
	<servlet-mapping>
	   <servlet-name>ArticleHandler2</servlet-name>
	   <url-pattern>/article2</url-pattern>
	</servlet-mapping>
		
	<servlet>
       <servlet-name>FeedDataStorePopulator</servlet-name>
       <servlet-class>com.vn.newsspeak.FeedDataStorePopulator</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>FeedDataStorePopulator</servlet-name>
       <url-pattern>/insertfeed</url-pattern>
    </servlet-mapping>
    
    <servlet>
       <servlet-name>FetchSourceServlet</servlet-name>
       <servlet-class>com.vn.newsspeak.FetchSourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>FetchSourceServlet</servlet-name>
       <url-pattern>/fetchSource</url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>FeaturedSourcesServlet</servlet-name>
       <servlet-class>com.vn.newsspeak.FeaturedSourcesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>FeaturedSourcesServlet</servlet-name>
       <url-pattern>/featuredSources</url-pattern>
    </servlet-mapping>
    
    <servlet>
       <servlet-name>MailHandlerServlet</servlet-name>
       <servlet-class>com.vn.newsspeak.MailHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>MailHandlerServlet</servlet-name>
       <url-pattern>/_ah/mail/*</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
 		<web-resource-collection>
    		<url-pattern>/_ah/mail/*</url-pattern>
  		</web-resource-collection>
  		<auth-constraint>
    		<role-name>admin</role-name>
  		</auth-constraint>
	</security-constraint>
 
    <servlet>
       <servlet-name>SearchServlet</servlet-name>
       <servlet-class>com.vn.newsspeak.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>SearchServlet</servlet-name>
       <url-pattern>/search</url-pattern>
    </servlet-mapping>
       
	<security-constraint>
		<web-resource-collection>
		  <url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
		  <role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
